{% extends "website/layout.html"%}

{% load static %}

{% block title %}
    Books
{% endblock %}


{% block body %}

    <div class="main_content">
        <div class="header">
            <h1>Addressing the causes and squashing the symptoms - getting it right</h1>
            <h4>By Craig Robinson, as edited by Dr Sarah Myhill</h3>
            <h6>[DATE OF PUBLICATION - 22 APRIL 2022]</h6>
        </div>

        <h2>Introduction</h2>
            <p> write this as an ME sufferer of nearly 30 years. I say this because what follows is a compromise and may not be the 'best' way of recovering from M.E. for everyone. You will have to decide where you sit on this compromise.</p>

            <p>But my motivation for writing this page is that the longer I have had this illness, the more I think that recovery from M.E. is the art of the possible.</p>
                
            <p>My definition of recovery is a sustained situation whereby you can both 'do more' and 'have fewer / less intense symptoms' AT THE SAME TIME. [see <a href="#">Chaos Theory and CFS/ME recovery path</a>]</p>
                
            <p>So, for some of us, and maybe just for the time being, we must mimic politicians! Perish the thought I hear the hordes rise up! Fear not, I am merely quoting Otto von Bismarck [1815 - 1898]</p>

        <div class="info_container">
            <b>Cause addressing interventions can also be thought of as LONG-TERM Symptom Elimination Interventions</b>
        </div>

        <p>Ironically, Otto died from gangrene in his foot and refused to accept any treatment for it; neither symptom squashing nor cause addressing!</p>

        <p>This issue, of symptom squashing versus cause addressing, is important.</p>

        <p>It affects recovery.</p>

        <p>I have personally faced this dilemma and so have many of the M.E. sufferers on Dr Myhill's Facebook group, which I co-admin with Katie Twinn - '<a href="#">Support for followers of Dr Myhill's Protocol</a>' Facebook Group</p>

        <p>It is a topic that comes up a lot.</p>

        <h2>What is the difference?</h2>

        <p>Take the example of when I fell out of a tree in my Nan's Garden, aged 7, and landed on the remains of an old mangle, nicely embedding a couple of rusty screws in my right thigh.</p>

        <ol>
            <li><b>Symptom Squashing</b> - take some paracetamol for the pain and maybe do something about the blood</li>
            <li><b>Cause Addressing</b> - go to Accident and Emergency, have the screws removed by an expert surgeon, and then ensure that follow up treatment avoids subsequent infection and possible worsening of the condition, maybe sepsis, and even death.</li>
        </ol>

        <p>I am still here - my parents chose option 2!</p>

        <p>So, two things are clear:</p>

        <ul>
            <li>Symptom squashing intervention are usually 'easier' to do, and require much less thought</li>
            <li>Cause addressing interventions require you to think of possible future outcomes, as well as addressing the immediate problem, thereby making sure you avoid possibly worse outcomes later down the line.</li>
        </ul>

        <p>This is all well and good, and true BUT life is more complicated than that, especially when you are a human being [!] who has been ill for a very long time, with possibly little improvement, and live a very restricted life.</p>

        <p>Read on but always keep in mind that…..</p>

        <div class="info_container">
            <b>Cause addressing interventions can also be thought of as LONG-TERM Symptom Elimination Interventions</b>
        </div>

        <p>Before moving on, it is worth stating that some interventions will have features of both symptom squashing and cause addressing and the extent of this may vary between sufferers for the same intervention. Try to be honest with yourself about which camp each intervention mainly falls in, for you personally, and then proceed as below. However, for most interventions, the distinction is usually quite clear.</p>

        <h2>Some Examples</h2>

        <p>This table gives some examples of each type of intervention. It is far from exhaustive.</p>

        <table class="wiki_table">
            <thead>
                <tr>
                    <th>Symptom</th>
                    <th>Symptom Suppression</th>
                    <th>Causation - work out why</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fatigue</td>
                    <td>
                        <li>Sugar</li>
                        <li>Caffeine</li>
                        <li>Amphetamines</li>
                    </td>
                    <td>
                        Address energy delivery mechanisms:
                        <li>PK diet (fuel in the tank) - see <a href="#">The Paleo Ketogenic Diet - this is a diet which we all should follow</a></li>
                        <li>Mitochondria going slow (engine) - see <a href="#">CFS/ME - The Central Cause: Mitochondrial Failure</a></li>
                        <li>Thyroid underactive (accelerator pedal) - see <a href="#">Conducting the CFS/ME orchestra</a></li>
                        <li>Adrenal fatigue (stuck in first gear) - see <a href="#">Conducting the CFS/ME orchestra</a></li>
                    </td>
                </tr>
                <tr class="active-row">
                    <td>Indigestion & reflux</td>
                    <td>
                        <li>Acid blocking drugs such as PPIs (Proton Pump Inhibitors) e.g. Omeprazole</li>
                    </td>
                    <td>
                        <li>Fermenting gut - see <a href="#">Fermentation in the gut and CFS/ME</a></li>
                        <li>Allergy - see <a href="#">Allergy, autoimmunity and infection pages</a></li>
                    </td>
                </tr>
                <tr>
                    <td>Muscle Pain</td>
                    <td>
                        <li>Painkillers - e.g. paracetamol, ibuprofen</li>
                    </td>
                    <td>
                        <li>Lactic acid burn? (i.e. Mitochondrial dysfunction) - see <a href="#">CFS/ME - The Central Cause: Mitochondrial Failure</a></li>
                        <li>Allergy to food or microbes - see <a href="#">Allergy, autoimmunity and infection pages</a></li>
                    </td>
                </tr>
                <tr>
                    <td>Asthma</td>
                    <td>
                        <li>Blue inhalers (bronchodilators) e.g. Ventolin </li>
                        <li>Brown inhalers (steroids) e.g. Becotide</li>
                    </td>
                    <td>
                        <li>Allergy to food or microbes? - Allergy, autoimmunity and infection pages</li>
                        <li>Low grade infection? - see also My book - The Infection Game</li>
                    </td>
                </tr>
                <tr>
                    <td>High Blood Pressure</td>
                    <td>
                        <li>Anti High Blood Pressure prescription drugs - e.g. Amlodipine</li>
                    </td>
                    <td>
                        <li>High levels of bodily stressors, of which the most common is the adrenalin spikes that accompany carbohydrate diets - see The Paleo Ketogenic Diet - this is a diet which we all should follow</li>
                    </td>
                </tr>
                <!-- and so on... -->
            </tbody>
        </table>





        <p>Note that SOME cause addressing interventions do not have to be for life. For some sufferers, once the cause has been addressed, these interventions can be withdrawn. For example, antimicrobials to kill down a chronic infection may be withdrawn, but one will need to keep in place a package to stay ahead of the game, and the interventions in this package will be for life. The PK diet is for life.</p>

        <p>Conversely, symptom squashing interventions should never be for life, but all too often, they do become a habit and their use extends to years, even decades.</p>

        <h2>Symptom Squashing Interventions</h2>

        <p>There are sometimes good reasons to use symptom squashing interventions as below:</p>

        <ol>
            <li>If you have suffered for a long time, with little relief, and you are at the end of your tether, and you need to feel just a little better in order to be able to carry on, then symptom squashing is for you AT THIS TIME. During this illness, thankfully not recently, I have been so physically, cognitively and emotionally low at times that I would have literally sold my soul to the Devil for even a day when I felt a little better. We have to do what we need to do to 'stay in the game'.</li>
            <br>
            <li>You may not be able to think straight or even do the most basic task [perhaps even from your bed] without some symptom squashing. For example, you may not be able to develop a plan of how to introduce cause addressing interventions without some symptom squashing FIRST. </li>
            <br>
            <li>Sometimes, symptom squashing interventions are [very] temporary, or even maybe taken on a single day - perhaps there is a very special event you really want to attend - for example, a wedding. Using these interventions like this is benign, physiologically and beneficial, emotionally.</li>
            <br>
            <li>Possibly others, specific to your circumstances….</li>
        </ol>

        <p>However, don't kid yourself - I was, and still can be sometimes, a Black Belt, 10th Dan at that age old art of kidding thyself!</p>

        <p>Don't pretend that you are using symptom squashing 'just for now' and that you will look at cause addressing interventions at some later time, and then conveniently forget!s</p>

        <p>By the way, the thought pattern as above is entirely understandable, especially if the symptom squashing interventions have seemingly given you some of your old life back, and if you have lost a lot of your old life, or indeed you never had an old life in the first place because you fell ill as a child. Humans are humans. We are not machines. Our emotions are very powerful. I apologise, in advance, if the following quote, or YouTube clip, upsets anyone, especially if you are currently in the midst of despair and anguish, but for me it encapsulates the human condition:</p>

        <div class="info_container">John Preston [Grammaton Cleric 1st Class] - What's the point of your existence?
            Mary O'Brien [Emotional Criminal] - To feel.
            Equilibrium, Miramax Films, 2002'
        </div>

        <p>You can see a clip of this exchange here - <a href="#"> YouTube Clip of "Equilibrium", one minute, 22 seconds</a></p>

        <p>I hope you get the point - we are emotional beings and ignoring that FACT will hamper your recovery. But we must not let our emotions become our masters.</p>

        <p>Indeed, there are some [really] bad things about using symptom squashing interventions, especially if you aren't “really” intending to introduce cause addressing interventions at some point.</p>

        <p>These bad things include:</p>
        <ol type="A">
            <li>I repeat myself - using symptom squashing interventions MIGHT delay when you introduce cause addressing interventions. Delaying the implementation of cause addressing interventions will delay whatever recovery you can attain. This is bad, physically, cognitively and emotionally. </li>
            <li>Symptom squashing interventions are not sustainable - they can be disease escalating - for example - consider proton-pump inhibitors (such as Omeprazole) - these result in hypochlorhydria [low levels of stomach acid]. An acid stomach is a vital defence against infection, is essential for digesting protein (otherwise large, antigenically interesting molecules present downstream with the potential to switch on allergy), prevent upper gut fermentation and allow the absorption of minerals. So, by symptom squashing, you are in fact escalating the very disease process that you were trying to 'treat'. </li>
            <li>There is also a specific worry - whatever may be causal in your illness may have worse downstream effects if you simply apply symptom squashing interventions and ignore cause addressing interventions - symptom squashing interventions may increase the likelihood of other 'new' illnesses. See "Case Study" below. </li>
            <li>Permanency - you must have a plan for tapering off the symptom squashing interventions, so that they don't become permanent. This tapering should happen naturally - as you add in cause addressing interventions, there will be less need for symptom squashing interventions. </li>
        </ol>

        <h2>Cause Addressing Interventions</h2>

        <p>These interventions are good, mainly for the obverse of why symptom squashing interventions are bad! So, we have:</p>
        <ol>
            <li>Cause addressing interventions shorten the time to recovery</li>
            <li>Cause addressing interventions are sustainable - they do not escalate disease </li>
            <li>Cause addressing interventions do not cause or increase the likelihood of other 'new' illnesses - see "<b>Case Study</b>" below. </li>
        </ol>


        <h2>Case Study</h2>

        <p>Imagine a sufferer, Emma , who has Chronic Epstein Barr Virus [CEBV] infection as a big part of her M.E.</p>

        <p>Imagine also that this CEBV has led, in her case, to Mast Cell Activity Syndrome [MCAS] - see <a href="#">Mast Cell Activation Syndrome (MCAS)</a></p>

        <p>MCAS has some truly dreadful symptoms, and Emma finds that she simply cannot move forward on any other front, for the time being, without dampening down some of these symptoms. So, she takes a mixture of mast cell inhibitors and stabilisers. This combination of [mainly] symptom squashing medication dramatically improves her symptom load and she feels much better and begins to enjoy life, to a limited, but still very much welcomed, extent. Remember here, that we are looking at the mast cell activation as being a response to the chronic infection.</p>

        <p>In fact, so good is the response, that Emma puts dealing with her CEBV on the back burner.</p>

        <p>The problem with doing this is that it does nothing to address the underlying cause here - CEBV. So, why is that a problem? Other than the fact that this delays sustainable recovery, 'leaving CEBV' untreated is dangerous in its own right. It can cause some very nasty illnesses 'downstream':</p>
        <ul>
            <li><a href="#">Epstein-Barr Virus in Systemic Autoimmune Diseases</a> </li>
            <li><a href="#">The role of Epstein-Barr virus infection in the development of autoimmune thyroid diseases - by Janegova et al</a> </li>
            <li><a href="#"></a>Epstein-Barr virus in multiple sclerosis by Bagert</li>
            <li><a href="#"></a>The epidemiology of EBV and its association with malignant disease (chapter 53 in Human Herpes Viruses: Biology, Therapy, and Immunoprophylaxis) by Hjalgrim et al.</li>
            <li><a href="#"></a>... and many more</li>
        </ul>

        <p>So, by ignoring treatment for the underlying cause, Emma risks contracting some very nasty other illnesses further down the line.</p>

        <p>Addressing the cause in this case would involve killing down EBV with a variety of antivirals - see</p>

        <ul>
            <li><a href="#">My book - The Infection Game</a> </li>
            <li><a href="#">Valacyclovir in the treatment of post viral fatigue syndrome</a></li>
            <li><a href="#">Chronic Viral Presence in CFS/ME</a></li>
        </ul>

        <p>It is much easier to write about this topic than to live it! I know that because I have done, and am still doing, both!</p>

        <p>And I truly do not mean to be 'holier than thou' here. Remember I write from experience i.e., mistakes that I have made. Really the point here is that leaving underlying causes untreated will not only affect your current [awful enough] illness, M.E., but it may also introduce new illnesses to your life.</p>

        <h2>"I feel like giving up"</h2>

        <p>We all feel like this sometimes, and some of us feel like it a lot, or even all of the time.</p>

        <p>This disease is relentless and feelings of "giving up" are very natural.</p>

        <p>These feelings can especially hit home when trying interventions - sometimes it just seems like they aren't working. But the interventions (see <a href="#">Overview of CFS/ME protocol</a> and <a href="#">CFS/ME Protocol - order of introduction of interventions</a>) do take time, and probably take longer if you are more ill, and / or have been ill for longer. There are also the so called "DDD" reactions to take into account - <a href="#">Diet, Detox and Die-off Reactions: expect to get worse</a>.</p>

        <div class="info_container">
            <b>"Patience is a virtue"</b>
            Proverbial phrase referring to one of the seven heavenly virtues said to date back to "Psychomachia," an epic poem written in the fifth 
            century AD by the Late Antique Latin poet Prudentius
            <b>Aptly perhaps, Psychomachia translates as the "Battle of Spirits"</b>
        </div>

        <p>But Patience is understandably a rare commodity among the chronically sick.</p>

        <p>I have tried to address these issues and feelings in the following pages:</p>

        <ul>
            <li><a href="#"> Balancing - how to balance your emotional needs</a></li>
            <li><a href="#">Vicious circles in CFS/ME Vicious circles in CFS/ME - how to break physiological and emotional vicious circles</a> - these vicious circles can slow progress</li>
            <li><a href="#">Chaos Theory and CFS/ME - understanding how important the Basics can be</a> - you really do need the Basics in place to make progress</li>
            <li><a href="#">CFS - Catastrophe theory - understanding why relapses happen and how we can shorten them</a></li>
        </ul>

        <p>On that last point, sometimes <b>perspective</b> can help - see the graphics below - I am aware that graphics like this will not help everyone, in fact they may annoy some, especially those of you among the severe and very severe sufferers. There have been times, when if someone had shown me those graphics, they would have been on the receiving end of a torrent of expletives. No doubt about it. But, my point is just this - sometimes, things do get worse because the body is healing. Only you, the sufferer, will know if this may be the case in your individual circumstances.</p>

        <img src="" alt="">

        <p>When all else fails, hang on, just like the poster that used to hang in Dr Myhill's waiting room said, when I first used to visit, and as seen at the top of this page - "<b>Never Ever Give Up</b>".</p>

        <p>Or as Churchill said - <b>K.B.O.</b> - <b>Keep Buggering On!</b> . It is said that he used this phrase at the start of each day and at the end of every telephone conversation and adjusted his wording to <b>Keep Plodding On</b> if in the presence of a lady!</p>

        <h2>Conclusion</h2>

        <p>There are times when symptom squashing interventions are a necessary thing to do so that progress can be made on mapping out what cause addressing interventions to employ BUT:</p>

        <ul>
            <li>Always have a plan of cause addressing interventions and do your very best to stick to this plan</li>
            <li>Never use symptom squashing interventions as a smoke screen for not introducing cause addressing interventions</li>
            <li>Have a plan for removing symptom squashing interventions</li>
            <li>Remember that cause addressing interventions are LONG TERM symptom elimination interventions</li>
            <li>Remember that cause addressing interventions prevent disease escalation and don't introduce 'new' diseases 'down the line' - symptom squashing interventions often can and do both.</li>
        </ul>

        <p>Like all things to do with this illness, it is a VERY delicate balancing act, and each sufferer will have to work out [and walk!] their own path. I think the essence is this:</p>

        <ul>
            <li><b>Symptom Squashing</b> - use judiciously so as to give short term relief so that you can survive in the 'here and now', and so that you can determine your longer-term plan of action and move forward</li>
            <li><b>Cause Addressing</b> - these interventions give you a sustainable route to walk the path of recovery</li>
        </ul>
        
        <p>It won't be a direct upward path and you may have to introduce symptom squashing interventions here and there, along the way, but try to ensure that you do this to the absolute minimum level required, and also that your direction of travel is away from symptom squashing interventions and towards cause addressing interventions.</p>

        <h2>Apology and Victim Blaming</h2>

        <p>As always, I think of the severe and very severe M.E. sufferers. This page may seem very glib and possibly it is in parts. I have tried to convey a complex idea in as simple a way as possible and inevitably that might result in a certain amount of superficiality.</p>

        <p>Some M.E. sufferers are so severe that all they can think of, all they want, and all they CAN do, RIGHT NOW, is to hope and look for symptom suppressing interventions. I cannot argue against that because I KNOW these people and I KNOW how they suffer. I have been there - at the severe scale anyway. I am certainly not the Oracle of Delphi [wrong gender for a start! See <b>Historical Note</b> below]. But what I have described here has helped me and I know many others who have been helped in a similar way.</p>

        <p>To the severe and very severe sufferer - if I have offended, please accept my sincere apologies. My only intention in writing this is to help those who may be helped by my recounting of my experiences.</p>

        <p>Moreover, none of this article is intended to be victim blaming. I apologise further if anything I have written has come across that way.</p>

        <p>I have experienced many instances of victim blaming, as I am sure all ME sufferers have, and I would not wish it on my worst enemy.</p>

        <p>One example involved my GP telling me, as I lay in my bed, and had done so, at that time for about 30 months, that I should:</p>

        <div class="info_container">'effing just get out of bed'</div>

        <p>because I was</p>

        <div class="info_container">'effing ruining the lives of your amazing wife and two gorgeous children'</div>

        <p>The GP was right about my wife and children but WRONG about everything else.</p>

        <p>Another example was my Cognitive Behavioural Therapist physically pulling me out of bed because they didn't believe that I couldn't move. This resulted in me landing awkwardly on the floor and sustaining bruises and cuts, after which said therapist tutted loudly and left the room, with me stranded on the floor, until my wife came home.</p>

        <h2>Historical Note</h2>

        <p>The high priestess of the Temple of Apollo, situated at Delphi, and known as Pythia, held the position of the oracle of the temple and was known as the Oracle of Delphi. Famous as the site of the pronouncement of many predictions that changed the course of history, the Temple of Apollo also has the so called 'Maxims of Delphi' inscribed on it.</p>

        <p>There are 150 such maxims, with 3 being known as the 'Entrance Maxims' - inscribed on a column in the pronaos (forecourt).</p>

        <p>These are:
            <ul>
                <li>Know thyself</li>
                <li>Nothing in excess</li>
                <li>Surety brings ruin</li>
            </ul>
        </p>
        

        <p>Perhaps I shouldn't have bothered writing this article and instead directed the interested reader to follow the Entrance Maxims of Delphi! (see <a href="#">Delphic Maxims</a>)</p>

        <h2>Related Articles</h2>

        <ul>
            <li><a href="#">Mast Cell Activation Syndrome (MCAS)</a></li>
            <li><a href="#">Valacyclovir in the treatment of post viral fatigue syndrome</a></li>
            <li><a href="#">Chronic Viral Presence in CFS/ME</a></li>
            <li><a href="#">Chaos Theory and CFS/ME recovery path</a></li>
            <li><a href="#">Balancing - how to balance your emotional needs</a></li>
            <li><a href="#">Vicious circles in CFS/ME Vicious circles in CFS/ME - how to break physiological and emotional vicious circles</a></li>
            <li><a href="#">CFS - Catastrophe theory - understanding why relapses happen and how we can shorten them</a></li>
            <li><a href="#">Diet, Detox and Die-off Reactions: expect to get worse.</a></li>
            <li><a href="#">Overview of CFS/ME protocol</a></li>
            <li><a href="#">CFS/ME Protocol - order of introduction of interventions</a></li>
            <li><a href="#">The Paleo Ketogenic Diet - this is a diet which we all should follow</a></li>
            <li><a href="#">CFS/ME - The Central Cause: Mitochondrial Failure</a></li>
            <li><a href="#">Conducting the CFS/ME orchestra</a></li>
            <li><a href="#">Fermentation in the gut and CFS/ME</a></li>
            <li><a href="#">Allergy, autoimmunity and infection pages</a></li>
            <li><a href="#">My book - The Infection Game</a></li>
        </ul>

        <h2>External Links</h2>

        <ul>
            <li><a href="#">'Support for followers of Dr Myhill's Protocol' Facebook Group</a></li>
            <li><a href="#">YouTube Clip of "Equilibrium"</a></li>
            <li><a href="#">Epstein-Barr Virus in Systemic Autoimmune Diseases</a></li>
            <li><a href="#">The role of Epstein-Barr virus infection in the development of autoimmune thyroid diseases - by Janegova et al</a></li>
            <li><a href="#">Epstein-Barr virus in multiple sclerosis by Bagert</a></li>
            <li><a href="#">The epidemiology of EBV and its association with malignant disease (chapter 53 in Human Herpes Viruses: Biology, Therapy, and Immunoprophylaxis) by Hjalgrim et al.</a></li>
            <li><a href="#">Delphic Maxims</a></li>
        </ul>



    </div>
    

{% endblock %}