{% extends "website/layout.html"%}

{% load static %}

{% block title %}
    DoctorMyhill.co.uk
{% endblock %}

{% block body %}
    <div class="main_content">
        <div class="header">
            <h1>How to contact us</h1>
            <h6>UPDATED MARCH 2022</h6>
        </div>

        <h3>This Website</h3>
            <p>The idea of this website is to provide people with all the necessary information together with access to tests to allow them to treat their own illnesses by identifying the underlying processes that are resulting in their ill health. The majority of people that follow this route recover without consulting me directly.
            </p>
            <p>In the past I have done my best to offer new patient consultations to people who have got stuck along the way because their problem does not resolve simply. However I am currently overloaded with my current patients, so for the time being please go to the list of practitioners of Ecological Medicine by visiting the website of <a href="https://www.bsem.org.uk">The British Society for Ecological Medicine (BSEM)</a>. A list of such practitioners (who specialise in allergy, environmental and nutritional medicine) is also published on this website - <a href="#">Practitioners of Ecological (Allergy, Environmental, Nutritional) Medicine</a>. Please see also my new Practitioner Portal - <a href="#">Natural Health Worldwide</a>
            </p>
            <p>This combined approach is the most time efficient and cost efficient way of helping as many people as I can! Much of the basic approach (see <a href="#">The general approach to maintaining and restoring good health</a> ) does not require medical input and many people recover their health simply by putting these recommendations in place.
            </p>
            <p>If you find your problem is not addressed by this website, please let me know so I can put in the relevant information.</p>

        <h3>Acute Medical Problems</h3>
            <p>Please, do not send me inquiries about <b>acute</b> medical problems, i.e. sudden serious symptoms. I am not in a position to reply to each query personally and give medical advice. I am the only doctor in my practice and cannot be available 24/7. If you are experiencing unusual or new symptoms which worry you, you must report them to your GP/medical practitioner and/or to your local hospital Accident and Emergency Department.</p>
        <h3>Contact Us via:</h3>
            <ol>
                <li>Email</li>
                <ol type="a">
                    <li><b>General administrative questions, such as requests for appointments -</b> <a href="mailto: caroline@doctormyhill.co.uk">Caroline</a> or <a href="mailto: helen@doctormyhill.co.uk">Helen</a></li>
                    <li>Financial enquiries - <a href="mailto: caroline@doctormyhill.co.uk">Caroline</a> </li>
                    <li>Supplement orders and enquiries about availability of supplements - <a href="mailto: helen@doctormyhill.co.uk">Helen</a></li>
                        <ul>
                            <li>But usually you can simply order supplements from my Online Shop - please see - <a href="#">Sales at Dr Myhill Online Shop</a></li>
                        </ul>
                    <li>Letters of support for PIP, ESA etc. - <a href="mailto: caroline@doctormyhill.co.uk">Caroline</a> </li>
                    <li>Covid Vaccination Exemption Letters - <a href="mailto: anna@doctormyhill.co.uk">Anna</a></li>
                    <li>Test Kit Queries - <a href="mailto: rosie@doctormyhill.co.uk">Rosie</a></li>
                    <li>Typing and letter queries - <a href="mailto: helen@doctormyhill.co.uk">Helen</a></li>
                    <li>Zoom and Weekend Workshops - <a href="mailto: anna@doctormyhill.co.uk">Anna</a></li>
                </ol>
                <li>Letter</li>
                <ul>
                    <li>Dr Sarah Myhill, Upper Weston, Llangunllo, Knighton, Powys LD7 1SL</li>
                </ul>
                <li>Telephone</li>
                <ul>
                    <li>The office number is <a href="tel: 01547 550 331">01547 550 331</a> - please leave a short message and we will get back to you</li>
                </ul>
            </ol>
            <div class="info_container">
                <h4>It is worth bearing in mind that answers to very many questions can be found on the pages of this website and/or in the 2nd edition of my <a href="#">CFS/ME book</a></h4>
                
            </div>
    </div>

{% endblock %}
