{% extends "website/layout.html" %}

{% block body %}

     <!--  Personnel Cards  -->
     <div class="container">

        <h1 id="team_title">The Core Team</h1>

        <div class="card">
            <figure class="card__thumb">
                <img src="../images/myhill_profile.jpg" alt="Picture by Kyle Cottrell" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Dr Sarah Myhill</h2>
                    <p class="card__snippet">The Boss</p>
                    <a href="" class="card__button">Read more</a>
                </figcaption>
            </figure>
        </div>
    
        <div class="card">
            <figure class="card__thumb">
                <img src="../images/Nancy.jpg" alt="Picture by Nathan Dumlao" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Nancy</h2>
                    <p class="card__snippet">My Patterdale Terrier - the real Boss!</p>
                    <a href="" class="card__button">Read more</a>
                </figcaption>
            </figure>
        </div>
    </div>


    <h1 id="team_title">The Office Team</h1>

    <div class="container">
        <div class="card">
            <figure class="card__thumb">
                <img src="../images/Anna.jpg" alt="Picture by Kyle Cottrell" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Anna</h2>
                    <p class="card__snippet">
                        <ol><li>Covid Vaccination Exemption Letters</li> 
                       <li>Zoom and Weekend Workshops</li>
                    </ol>
                    </p>
                    <a href="" class="card__button">anna@doctormyhill.co.uk</a>
                </figcaption>
            </figure>
        </div>
    
        <div class="card">
            <figure class="card__thumb">
                <img src="../images/Caroline.jpg" alt="Picture by Nathan Dumlao" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Caroline</h2>
                    <p class="card__snippet">
                        <ol><li>General administrative questions, such as requests for appointments </li> 
                            <li>Financial enquiries</li>
                            <li>Letters of support for PIP, ESA etc. </li>
                         </ol>
                    </p>
                    <a href="" class="card__button">caroline@doctormyhill.co.uk</a>
                </figcaption>
            </figure>
        </div>
    
        <div class="card">
            <figure class="card__thumb">
                <img src="../images/Helen.jpg" alt="Picture by Daniel Lincoln" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Helen</h2>
                    <p class="card__snippet">
                        <ol><li>General administrative questions, such as requests for appointments </li> 
                            <li>Supplement orders and enquiries about availability of supplements (or simply order supplements from my <a href="#">Online Shop</a></li>
                            <li>Typing and letter queries</li>
                         </ol>
                    </p>
                    <a href="" class="card__button"> helen@doctormyhill.co.uk</a>
                </figcaption>
            </figure>
        </div>

        <div class="card">
            <figure class="card__thumb">
                <img src="../images/Rosie.jpg" alt="Picture by Daniel Lincoln" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Rosie</h2>
                    <p class="card__snippet">
                        <ol><li>Test Kit Queries</li> 
                     </ol></p>
                    <a href="" class="card__button">rosie@doctormyhill.co.uk</a>
                </figcaption>
            </figure>
        </div>
    </div>

    <h1 id="team_title">My Social Media Group Admins</h1>

    <div class="container">
        <div class="card">
            <figure class="card__thumb">
                <img src="../images/Katie_smaller.jpg" alt="Picture by Kyle Cottrell" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Katie</h2>
                    <p class="card__snippet">Katie is enjoying the sunshine and fresh sea breezes in her beloved North East, just outside the magnificent Seaham Hall, where she was married.</p>
                    <!-- <a href="" class="card__button">Read more</a> -->
                </figcaption>
            </figure>
        </div>
    
        <div class="card">
            <figure class="card__thumb">
                <img src="../images/craig.jpg" alt="Picture by Nathan Dumlao" class="card__image">
                <figcaption class="card__caption">
                    <h2 class="card__title">Craig</h2>
                    <p class="card__snippet">Craig is at one of his favourite places, Sheringham, waiting for a pot of Green Tea and a Full English breakfast to be served, hence the smile!</p>
                    <!-- <a href="" class="card__button">Read more</a> -->
                </figcaption>
            </figure>
        </div>
    </div>

{% endblock %}