/*-- Body Reset --*/
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Playfield Display', serif;
}
:root{
  --background-color: white;
  --text-color: #0B0B45;
  --button-color: #0B0B45;
  --button-text-color: white;
  --card-color: #242526;

}
/* @media (prefers-color-scheme: dark) {
:root {
  --background-color: #242526;
  --text-color: white;
  --button-color: white;
  --button-text-color: #0B0B45;
  --card-color: white;
}
} */

/* .dark-theme {
  --background-color: #242526;
  --text-color: white;
  --button-color: white;
  --button-text-color: #0B0B45;
  --card-color: white; 
}*/
body {
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--background-color);
  transition: background 0.8s, color 0.8s;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.main{
  flex-grow: 1;
}

  /*============= NAVIGATION =============*/
  nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #242526;
    top: 0;
  }
  nav .wrapper{
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar_button {
    background: #28ad5d;
  }
  .wrapper .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
  }

  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style-type: none;
  } 
  .nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    list-style: none;
  }
  .nav-links li a:hover{
    background: #3A3B3C;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu{
    position: absolute;
    background: #565656;
    width: 75%;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-ul li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    list-style-type: none;
  }
  /* .mega-links { 
  columns: 3;
} */
.mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .header_content{
    background: #565656;
    padding: 25px 20px;
    padding-left: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  /* .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  } */
  .header_content .row img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .header_content .row header{
    color: #f2f2f2;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: -30px;
    border-radius: 4px;
    border-color: white;
  }
  .header_content .row .mega-links{
    margin-left: -10px;
    /* border-left: 1px solid rgba(255,255,255,0.09); */
    list-style: none;
  }
  .row .mega-links{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
    
  }
  .row .mega-links li a:hover{
    color: #f2f2f2;
  }
  .wrapper .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  .toggle-btn {
      background: #4864ff;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 40px;
      border-radius: 20px;
      cursor: pointer;
      padding-left: 0px;
      margin-left: 20px;
      margin-top: 17px;
    }
    .toggle-btn img {
      height: 1.5rem;
      padding-left: 5px;
    }
    #navbar_logo {
      padding-left: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: xx-large;
      color: #0B0B45;
      letter-spacing: .5rem;
    } 








  /*--- Hero --*/
  .hero {
    /* background-color: #fffcfc; */
    /* background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");; */
    padding: 100px 0;
  }
  .hero_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  .hero_heading {
    font-size: 120px;
    margin-bottom: 24px;
    
  }
  .hero_description span {
    color: #0B0B45;
    margin-top: z;
  }
  .hero_description {
    /* font-size: 75px; */
    color: #28ad5d;
    /* padding-top: 40px; */
  }
  .highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
  }
  .hero_container h2 {
    font-size: 50px;
    padding-bottom: 5px;
  }
  .hero_container h3 {
    font-size: 20px;
  }
  .hero_container a {
    text-decoration-line: underline;
  }
  .hero_container a:hover {
    color: #2e79db;
  }
    
  @media screen and (max-width: 900px) {
    .hero {
      padding: 50px 0;
      padding-bottom: 30px;
    }
    .hero_heading {
        font-size: 60px;
    }
    .hero_description {
        font-size: 70pix;
    }
    .hero_description span {
      font-size: 10pix;
    }
    .hero_container h2 {
      font-size: 25px;
      padding-bottom: 20px;
    }
    .hero_container h3 {
      font-size: 15px;
    }
    
  }
  
  @media screen and (max-width: 786px) {
    .hero {
      padding: 50px 0;
      padding-bottom: 30px;
    }
    .hero_heading {
        font-size: 60px;
    }
    .hero_description {
        font-size: 70pix;
    }
    .hero_description span {
      font-size: 10pix;
    }
    .hero_container h2 {
      font-size: 25px;
      padding-bottom: 20px;
    }
    .hero_container h3 {
      font-size: 15px;
    }
    
  }

  /*-- Button --*/
.main_btn {
    font-size: 1.8rem;
    background-color: var(--button-color);
    /* background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); */
    padding: 20px 60px;
    border: none;
    border-radius: 200px;
    color: #fffcfc;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    outline: none;
    display: inline-block;
  
  }
  .main_btn a {
    position: relative;
    z-index: 2;
    color: var(--button-text-color);
    text-decoration: none;
  }
  .main_btn:after {
    position: absolute;
    content: ''; /* '' means that there is an empty string in content */
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #28ad5d;
    transition: ease 0.5s;
    border-radius: 200px;
  }
  .main_btn:hover {
    color: white;
  }
  .main_btn:hover:after {
    width:100%;
  }

  @media screen and (max-width: 900px) {
    .main_btn{
      font-size: 25px;
      padding: 10px 40px;
      margin-top: 0px;
    }
  }

  @media screen and (max-width: 786px) {
    
  }




      /*============= About me =============*/
#about_content {
  /* margin-top: 30px; */
  /* align-items: center; */
  /* max-width: 800px; */
  margin-left: auto;
  justify-content: space-between;
  display: flex; 
  position: relative;
  width: 90%;
  flex-direction: column;
}
#about_content h1 {
  font-size: 100px;
  font-family: serif;
  color: var(--text-color);
  font-weight: 600;
}
#im_span{
  font-family: serif;
  font-weight: 400;
  font-style: italic;
}
/* #about_content > div{
  flex-basis: 50%;
} */
.text-col {
  width: 55%;
}
#colour_box{
  height: 450px;
  width: 450px;
  background: #093028;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #237A57, #093028);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #237A57, #093028); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
  border-radius: 66px 66px 66px 66px;
-moz-border-radius: 66px 66px 66px 66px;
-webkit-border-radius: 66px 66px 66px 66px;
border: 0px solid #000000;
  border: 0px solid #000000;
  position: absolute;
  left: 58%;
  top: -3.5%;
}

#colour_bar{
  width: 440px;
  height: 10px;
  border-radius: 200px;
  position: absolute;
  left: 58.5%;
  top: 26%;
  z-index: 99;
}
.image-col img{
  size: 70%;
  max-width: 55%;
  position: absolute;
  left: 48.5%;
  top: -1%;
  float: right;
  margin-right: auto;
  z-index: 9;
  border-radius: 50%;
  /* -webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75); */
}
.image-col {
  float: left;
  padding: 0 20px 0 20px;
  object-position: right;
}
/* //How do you position an image to the right of a series of paragraphs? */

.about_container{
/* max-width: 75%; */
align-items: center;
justify-content: center; 
margin-left: 2%;
/* display: flex; */
vertical-align: middle;
flex-direction: column;
width: 100%;
/* margin: auto; */
margin-top: 15
px;
}

.about_card {
min-width: 300px;
max-width: 500px;

border-radius: 20px;
/* margin-left: 24px;
margin-right: 30px; */
padding: 10px;
margin-right: 20px;
background: #17D6E8;
-webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
/* position: absolute; */
float: left;
display: inline;
}
.about_card_1 {
width: auto;
border-radius: 20px;
/* margin-left: 24px;
margin-right: 30px; */
padding: 0px;
padding-top: 10px;
margin-right:20px ;
background: rgb(246, 216, 221);
-webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
/* position: absolute; */
float: right;
display: inline;
}





/* services section */
.services {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
padding: 5rem 0;
}
.services h1 {
font-size: 70px;
margin-bottom: 5rem;

}
.services_wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
}
.services_card {
margin: 10px;
height: 200px;
width: 300px;
display: flex;
flex-direction: column;
justify-content: center;
color: var(--text-color);
transition: 0.3s ease-in;
/* background-color: var(--card-color); */
background-color: white;
border-radius: 20px;
/* box-shadow: 0 2rem 2rem rgba(0, 0, 0, .1); */
box-shadow: 1px 22px 44px rgba(0, 0, 0, .19);
/* border-color: #0B0B45;
border-width: 5px; */
}
/* .services_card:nth-child(2) {
background: #1fa2ff;
background: -webkit-linear-gradient(
    to right, 
    #a6ffcb,
    #12d8fa,
    #1fa2ff
);
background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
);
} */
/* .services_card:nth-child(3) {
background-image: linear-gradient(
  -225deg,
  #231557 0%,
  #44107a 29%,
  #ff1361 67%,
  #fff800 100%
);
} */
.services_card h2 {
text-align: center;
}
.services_card p {
text-align: center;
margin-top: 24px;
font-size: 20px;
}
.services_btn {
display: flex;
justify-content: center;
margin-top: 16px;
/* border-radius: ; */
}
.services_card button {
color: #fff;
padding: 14px 24px;
border: none;
outline: none;
border: 4px;
background: #131313;
font-size: 1rem;
border-radius: 10px;
}
.services_card a{
color: white;
}
.services_card:hover {
transform: scale(1.1);
transition: 0.3s ease-in;
cursor: pointer;
transform: translateY(-15px);
box-shadow: 1px 12px 34px rgba(0, 0, 0, .31);
}
.services_card .services_btn:hover {
position: absolute;
content: '';
top: 0;
left: 0;
width: 0;
height: 100%;
background: #28ad5d;
transition: all 0.5s;
border-radius: 20px; 
transform: translateY(1000%);
transition-delay: 0.6s;
opacity: 1;
}
.main_btn:hover {
color: white;
}
.main_btn:hover:after {
width:100%;
}

@media screen and (max-width: 1300px) {
.services_wrapper {
    grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width: 700px) {
.services_wrapper {
    grid-template-columns: 1fr;
}
}

/* News Section */
.scrolling-wrapper {
/* overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap; */
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
padding-top: 20px;
-webkit-overflow-scrolling: touch;
background-color: #c0d7d2;
&::-webket-scrollbar {
  display: none;
}

}
.scrolling-wrapper .card {
/* display: inline-block; */
flex: 0 0 auto;
height: 250px;
overflow: auto;
width: 25%;
overflow-wrap: normal;
justify-content: space-between;
margin: 10px;
margin-bottom: 40px;
}
.scrolling-wrapper .card:hover {
transform: translateY(-10%);
transition: transform 0.5s;
}
.scrolling-wrapper .card h2 {
font-size: 40px;
font-weight: 600;
}
.scrolling-wrapper .card h3 {
font-size: 25px;

}





    /* FOOTER SECTION */
 #footer {
    position: absolute;
    bottom: 0;
    background-color: #131313;
    padding: 5rem 0;
    width: 100vw;
    height: 30vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.social_media {
  max-width: 1000px;
  width: 100%;
}
.social_media-wrap {
  /* display: inline-flex; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  padding-top: 20px;
}
.social_media-wrap li{
  display: inline-flex;
  align-items: center;
  margin: auto;
}

#footer_text{
width: 65vw;
text-align: center;
}
#copyright{
width: 100vw;
background-color: rgba(0, 0, 0, 0.2);
/* margin-top: 10px; */
height: auto;
bottom: 0;
margin-bottom: 0;
}

@media screen and (max-width: 820px) {
  .footer_links {
      padding-top: 2rem;
  }
  #footer_logo {
      margin-bottom: 2rem;
      
  }
  .footer_link-wrapper {
      flex-direction: row;
  }
  .social_media-wrap {
      flex-direction: row;
  }
  .social_media ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size:20px;
  }
}

@media screen and (max-width: 480px) {
  .footer_links-items {
      margin: 0;
      padding: 10px;
      width: 100%;
  }
} */

/* social links */
.social_media ul {
position:absolute;
/* left: 50%; */
transform:translate(-50%,-50%);
margin:0;
padding:0;
display:flex;
}
.social_media ul li {
list-style:none;
} 
.social_media ul li a {
display:block;
position:relative;
width: 90px;
height: 90px;
line-height: 90px;
font-size:35px;
text-align:center;
text-decoration:none;
color: white;
margin: 0 30px;
transition:.5s;
}
.social_media ul li a span {
position:absolute;
transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
width:100%;
height:3px;
background: white;
}
ul li a span:nth-child(1) {
top:0;
left:0;
transform-origin: right;
}
ul li a:hover span:nth-child(1) {
transform: scaleX(0);
transform-origin: left;
transition:transform .5s;
}

ul li a span:nth-child(3) {
bottom:0;
left:0;
transform-origin: left;
}
ul li a:hover span:nth-child(3) {
transform: scaleX(0);
transform-origin: right;
transition:transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
width:3px;
height:100%;
background:#404040;
}
ul li a span:nth-child(2) {
top:0;
left:0;
transform:scale(0);
transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
transform: scale(1);
transform-origin: top;
transition:transform .5s;
}
ul li a span:nth-child(4) {
top:0;
right:0;
transform:scale(0);
transform-origin: top;
}
ul li a:hover span:nth-child(4) {
transform: scale(1);
transform-origin: bottom;
transition:transform .5s;
}

.facebook:hover {
color: #3b5998;
}
.facebook:hover span { 
background: #3b5998;
}
.twitter:hover {
color: #1da1f2;
}
.twitter:hover span { 
background: #1da1f2;
}
.instagram:hover {
color: #c32aa3;
}
.instagram:hover span { 
background: #c32aa3;
}
/* .google:hover {
color: #dd4b39;
}
.google:hover span { 
background: #dd4b39;
} */
.ul li a .twitter {
color: #1da1f2;
}
.ul li a:hover:nth-child(3) {
color: #c32aa3;
}
.ul li a:hover:nth-child(4) {
color: #dd4b39;
}


/* main_content */
 .main_content{
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  width: 80%;
  max-width: 1400px;
  justify-content: center;
  flex-grow: 1;
 }

 .main_content .header{
  text-align: center;
 }
 .main_content li{
  padding-left: 10px;
 }

 .info_container{
  padding: 20px;
  text-align: center;
  background-color: rgb(180, 217, 232);
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 80%;
  /* justify-content: center; */
  align-items: center;
 }

 .wiki_table{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 20px; 
  margin-top: 20px;
  border-collapse: collapse;
  border-style: hidden;
}
 .wiki_table tr:nth-child(even){
  background-color: #f2f2f2;
 }
 .wiki_table td{
    border: 2px solid black;
    padding: 0.5rem;
 }
 .wiki_table th{
    padding: 0.5rem;
    border: 2px solid forestgreen;
 }


/* find us */
.find_us_container{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  border: #000000;
  margin-top: 200px;
  margin-bottom: 40px;
  padding-bottom: 100px;

}
.find_us_container .iframe{
  height: 900px;
  box-shadow: 1px 22px 44px rgba(0, 0, 0, .19);
}


/* My team */
.my_team_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 20px 0 80px;
}
.my_team_card {
  width: 300px;
  min-height: 300px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  
}
.my_team_card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.my_team_card:hover .card__image {
  transform: translateY(-10px);
}
.my_team_card:hover .card__thumb::after {
  top: 0;
}
.my_team_card:hover .card__snippet {
  margin: 20px 0;
}
.card__thumb {
  position: relative;
  max-height: 100px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card__thumb {
      max-height: 300px;
 }
}
.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__thumb::after {
      top: calc(100% - 140px);
 }
}
.card__image {
  transition: 0.5s ease-in-out;
}
.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__caption {
      top: calc(100% - 110px);
      transform: unset;
 }
}
.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .card__snippet {
      margin: 60px 0;
 }
}
.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button:hover {
  color: black;
  background-color: white;
}
/* .disclaimer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 10px;
  background-color: white;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}
.disclaimer__link {
  color: #755d87;
  text-decoration: none;
} */


/* fyi_container */
.fyi_continer{
  background-color: #093028;
}

