<div class="footer_container">
    <div class="row">
        <div class="col_sm">
            <h2>About us</h2>
            <li>How it works</li>
            <li>Testimonials</li>
            <li>Careers<</li>
            <li>Terms of Service</li>
        </div>
    </div>

    <div class="row">
        <div class="col_sm">
            <h2>Contact us</h2>
            <li>How it works</li>
            <li>Testimonials</li>
            <li>Careers<</li>
            <li>Terms of Service</li>
        </div>
    </div>

    <div class="row">
        <div class="col_sm">
            <h2>About us</h2>
            <li>How it works</li>
            <li>Testimonials</li>
            <li>Careers<</li>
            <li>Terms of Service</li>
        </div>
    </div>

</div>




         <div class="footer_container">
            <div class="footer_links">
                <div class="footer_link-wrapper">
					<div class="row">
                    <div class="col-sm">
                        <h2>About Us</h2>
                        <a href="/sign-up">How it works</a>
                        <a href="/sign-up">Testimonials</a>
                        <a href="/sign-up">Careers</a>
                        <a href="/sign-up">Terms of Service</a>
                    </div>
					</div>
				<!-- </div> -->
				<div class="row">
                    <div class="col-sm">
                        <h2>Contact Us</h2>
                        <a href="/sign-up">Contact</a>
                        <a href="/sign-up">Support</a>
                        <a href="/sign-up">Destinations</a>
                    </div>
				</div>

                <div class="row">
                    <div class="col-sm">
                        <h2>Videos</h2>
                        <a href="/sign-up">Submit Video</a>
                        <a href="/sign-up">Ambassadors</a>
                        <a href="/sign-up">Agency</a>
                    </div>
				</div>
				
                    <!-- <div class="footer_links-items">
                        <h2>Social Media</h2>
                        <a href="/sign-up">Instagram</a>
                        <a href="/sign-up">Facebook</a>
                        <a href="/sign-up">Youtube</a>
                        <a href="/sign-up">Twitter</a>
                    </div> -->
            </div>
			</div>
            <section class="social_media">
                <div class="social_media-wrap">
                    <div class="footer_logo">
                        <a href="/" id="footer_logo">DoctorMyhill.co.uk</a>
                    </div>
                    <p class="website_rights">Dr Myhill Data Protection Policy May 2018</p>
					<ul>
						<li>
							<a class="facebook" href="#">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<i class="fab fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a class="twitter" href="#">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<i class="fab fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a class="instagram" href="#">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<i class="fab fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
                </div>
            </section>
        </div>